@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid black; */
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #353535;
}

.container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 40%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #000000;
}

.title {
    margin-bottom: 10px;
    text-align: center;
}

.validator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#identity-check {
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    font-size: 1.5rem;
    color: white;
    background-color: #353535;
}

#checkBtn {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    outline: none;
    height: 53px;
    width: 53px;
    background-color: #353535;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#checkBtn:hover {
    background-color: #3535356b;
}

#checkBtn:active {
    transform: scale(0.9, 0.9);
    box-shadow: var(--shadow-primary);
}

.warning-container {
    height: 20px;
    margin: 10px;
}

.warning-container p {
    display: none;
    font-size: 1rem;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 25px;
}

@media (max-width: 1240px) {
    .title h1 {
        font-size: 1.5rem;
        margin: 0 30px;
    }
    #identity-check {
        font-size: 1rem;
    }
    #checkBtn {
        height: 40px;
        width: 100px;
        border-radius: 25px;
    }
    .validator {
        flex-direction: column;
    }
    .warning-container p {
        font-size: 0.8rem;
    }
}

@media (max-width: 800px) {
    .container {
        width: 60%;
        height: 50%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 70%;
        height: 60%;
    }
    #identity-check {
        padding: 0.5rem;
        font-size: 0.8rem;
    }  
}
